<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>head</th>
        <th>head</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1000</td>
        <td>test</td>
        <td>hello</td>
      </tr>
    </tbody>
  </table>
</div>


